@charset "UTF-8";

:root{
    --cor0: #D9CF9C;
    --cor1: #EDF257;
    --cor2: #0C70F2;
    --cor3: #182E59;
    --cor4: #020659;
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;

}

*{
    margin: 0px;
    padding: 0px;
}
header{
    max-width: 800px;
    min-width: 300px;
    padding: 20px;
    margin: auto;
    background-image: linear-gradient(to bottom, #020659, white);
    height: 180px;
   
    
}
header > h1{
    color: var(--cor0);
    padding: 2px;
    font-size: 2.2em;
    text-align: center;
    font-weight: bold;
   
    
}
header > p{
    color:  #020659;
    font-weight: bold;    
    padding: 2px;
    font-size: 1em;
    text-align: center;
}

body{
    background-color: var(--cor0);
}

main{
    max-width: 800px;
    min-width: 300px;
    padding: 20px;
    margin: auto;
    background-color: white;
    box-shadow: 0px 0px 10px rgba( 0px, 0px, 0.386);
}

main img{
    width: 100%;
    padding-bottom: 10px;
}

article > img{    
    display: block;
    margin: auto;
}

article > h1{
    font-size: 2em;
    padding: 10px;
}

article > h2{
    font-size: 2em;
}

article > p{
    font-family: var(--fonte-padrao);
    text-align: justify;
    padding: 5px;
}

article> div{
    display: block;
    text-align: center;
}
aside{
   background-image: linear-gradient( to top, #0C70F2,  white);
    max-width: 800px;
    min-width: 300px;
    padding: 20px;
    margin: auto;

}

aside > h1{
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 10px;
}

aside > p{
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
    
}

ol{
    padding-left: 20px;
    padding-top: 20px;
}

footer{
    background-image: linear-gradient(to bottom, #0C70F2, #EDF257);
    color: var(--cor);
    max-width: 800px;
    min-width: 300px;
    padding: 20px;
    margin: auto;

}

footer > h3{
    font-family: var(--fonte-padrao);
    color: red;
    font-size: 1.5em;
    padding-bottom: 10px;
}

footer > ul > li > a{
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: rgb(16, 0, 139); 
    text-decoration-line: none;    
    padding: 20px;
}

footer > ul> li> a:hover{
    color: rgb(255, 0, 0);
    text-decoration-line: underline;
}

ul{
    padding-left: 30px;
}